<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrightnessManagerAppExecutablePath" value="&quot;%LocalAppData%\Programs\twinkle-tray\Twinkle Tray.exe&quot;"/>
    <add key="BrightnessManagerAppArgs" value="--MonitorNum=2 --Set={0}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>