<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BrightnessManagerAppExecutablePath" value="&quot;%LocalAppData%\Programs\twinkle-tray\Twinkle Tray.exe&quot;"/>

		<add key="BrightnessManagerAppArgs" value="--Set={0} --All"/>
		<!-- See https://github.com/xanderfrangos/twinkle-tray for available args. -->

		<add key="SensorUsbPort" value="0"/>
		<!-- SensorUsbPort must be set when more than one DigiUSB device is present.
			 Otherwise set it to 0 -->

		<add key="MinimalTimeSpanBetweenAdjustments" value="0"/>
		<!-- in seconds -->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>